body{
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-main{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download-link{
    color: aquamarine;
    font-size: 16px;
}

.header-second{
    color: white;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
}

.paragraph{
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}
